@font-face {
  font-family: 'Mark Pro';
  src: url('https://www.innoq.com/assets/MarkPro-Book.woff2?cachebuster=2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Mark Pro';
  src: url('https://www.innoq.com/assets/MarkPro-Bold.woff2?cachebuster=2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Mark Pro';
  src: url('https://www.innoq.com/assets/MarkPro-Heavy.woff2?cachebuster=2') format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'Freight Text';
  src: url('https://www.innoq.com/assets/350ED6_1_unhinted_0.woff2?cachebuster=2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

.title,
.content h1,
.content h2,
.content h3,
.content h4 {
  font-family: 'Mark Pro', sans-serif;
  font-weight: 800;
}

.navbar-item {
  font-family: 'Mark Pro',sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

/*
Bulma variables would be more elegant, but would require a  Sass setup
https://bulma.io/documentation/components/navbar/#variables
*/
.navbar a:hover {
  color: #FF9B66 !important;
}

strong {
  font-weight: 600;
}

.fa-arrow-up-right-from-square {
  display: inline;
}

@media(max-width: 767px) {
  /*noinspection CssUnusedSymbol*/
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}