@font-face {
  font-family: 'Inter';
  src: url('/webfonts/inter-v12-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/webfonts/inter-v12-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

.title,
.content h1,
.content h2,
.content h3,
.content h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.navbar-item {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

/*
Bulma variables would be more elegant, but would require a  Sass setup
https://bulma.io/documentation/components/navbar/#variables
*/
.navbar a:hover {
  color: #FF9B66 !important;
}

strong {
  font-weight: 600;
}

.fa-arrow-up-right-from-square {
  display: inline;
}

@media(max-width: 767px) {
  /*noinspection CssUnusedSymbol*/
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}
.footer-supported-by {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  color: #4a4a4a;
}
